.mainContainer{
  /* width: 100vw;
  height: 100vh; */
  position: relative;
}

.output_canvas{
  z-index: 1;
}


.webcamControl{
  position: absolute;
  z-index: 11;
}


.circleCursor{
  border-radius: 50%;
  margin: auto;
  position: absolute;
}

.customButtons{
  
  position: absolute;
  width: 15rem;
  right:10px;
  top:10px;
  z-index: 111;
}

.info{
  float: right;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2) !important;
}
.infoContent{
  width:14rem;
}
.infoContent p{
  display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    
}
.infoContent p img{
  width:3.5rem;
}
.infoContent p span{
  margin-left: 10px;
}

.disabledColorPicker div{
  width: 50px;
  height: 10px;
  border-radius: 2px;
 
}

.disabledColorPicker{
  padding: 5px;
  background: rgb(255, 255, 255);
  border-radius: 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  display: inline-block;
  cursor: pointer;
}



.eraseAll button{
  float: right;
    position: absolute;
    top: 220px;
    right: 10px;
    font-size: 12px !important;
    height: 20px !important;
}
